[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/pehweihang/nvim.git
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule ".config/zathura/catppuccin"]
	path = .config/zathura/catppuccin
	url = https://github.com/catppuccin/zathura
[submodule ".config/kitty/catppuccin"]
	path = .config/kitty/catppuccin
	url = https://github.com/catppuccin/kitty
[submodule ".config/zsh/zsh-vi-mode"]
	path = .config/zsh/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode
[submodule ".config/zsh/zsh-syntax-highlighting"]
	path = .config/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".config/zsh/zsh-autosuggestions"]
	path = .config/zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule ".config/hypr/catppuccin"]
	path = .config/hypr/catppuccin
	url = https://github.com/catppuccin/hyprland.git
[submodule ".config/zsh/catppuccin-zsh-syntax-highlighting"]
	path = .config/zsh/catppuccin-zsh-syntax-highlighting
	url = https://github.com/catppuccin/zsh-syntax-highlighting.git
[submodule ".config/btop/catppuccin"]
	path = .config/btop/catppuccin
	url = https://github.com/catppuccin/btop.git
[submodule ".config/bat/catppuccin"]
	path = .config/bat/catppuccin
	url = https://github.com/catppuccin/bat.git
