[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:pehweihang/nvim.git
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm
[submodule ".config/zathura/catppuccin"]
	path = .config/zathura/catppuccin
	url = https://github.com/catppuccin/zathura
[submodule ".config/kitty/catppuccin"]
	path = .config/kitty/catppuccin
	url = https://github.com/catppuccin/kitty
